#banner {
  background-image: image-url('honeycomb.jpg');
  color: $red;
  padding: 150px 0px 0px 100px;
  background-size: cover;
  height: 650px;

  h1 {
    font-size: $font-size-50;
    color: $red;
  }

  p {
  font-size: $font-size-25;
  font-weight: $font-weight;
  }
}