/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 body {
  font-family: $base-size;
  color: $black;
}
h1, h2, h3 {
  font-family: $header-font;
}

.red-background {
  background: $red;
  color: $black;
}

.padding {
  padding-top: $big-padding;
  padding-bottom: $big-padding;
}

.card{
  padding-left: $small-padding;
  h2 {
    font-size: $base-size;
  }
}

#white-block {
  padding-top: $very-big-padding;
  padding-bottom: $very-big-padding;
}