 #contact {
  background-image: image-url('background.png');
  color: red;
  padding: 150px 0px 0px 100px;;
  background-size: cover;
  height: 650px;
    h1 {
      font-size: 50px;
      color: red;
    }
    p {
      font-size: 25px;
      font-weight: 100;
    }
}